.row {
    margin: auto;
    width: 50%;
}

.h1 {
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid black;
    margin-bottom: 50px;
}

.bio-image {
    float: left;
    width: 125px;
    padding-right: 25px;
}

.line-padding {
    padding-bottom: 8px;
}

#myart {
    height: 150px;
    border-radius: 10px;
    
}

